ul{
    
    display:flex;
    flex-direction: row;
    list-style: none;
    
 
    
}




ul > li 
{
margin: 40px;
font-size: 20;
}



ul li a:hover
{
    color: white;
}




body
{
    
background: linear-gradient(90deg, rgba(246,190,92,1) 0%, rgba(255,244,54,1) 53%, rgba(226,125,24,1) 100%);
}




p{
    text-align:center;
    color:black;
    font-size: 50;
    font-family: 'Times New Roman', Times, serif;
    margin: 650px;
}




h4
{
    color: brown;
    font-family:'Times New Roman', Times, serif;
    margin: 30px;
    background-color: aliceblue;
}




h3{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
}




.f
{
    text-align: justify;
    text-align: center;
    padding: 30;
    margin: 20;
}







iframe
{
    margin-left: 600px;
}


footer
{
    margin-left: 600;
    background-color:goldenrod;
}



h1::first-line
{
color: white;

}




.boton
{
    margin-left: 800;
}




.menuimg
{
    overflow: hidden;
    width: 100%;
    height: 100%;
}



.menuimg > img
{
    animation-name: Slider;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-fill-mode: infinite;
}



.foto
{
    display:flex;
    flex-direction: row; 
    margin:auto;

}


form
{
    margin-left: 10px;
    
    
    
}