h3{
    background-color: antiquewhite;
}


body
{
    
background: linear-gradient(90deg, rgba(246,190,92,1) 0%, rgba(255,244,54,1) 53%, rgba(226,125,24,1) 100%);
}


ul{
    
    display:flex;
    flex-direction: row;
    list-style: none;
    
 
    
}




ul > li 
{
margin: 40px;
font-size: 20;
}



ul li a:hover
{
    color: white;
}


.f
{
    text-align: justify;
    text-align: center;
    padding: 30;
    margin: 20;
}

footer
{
    margin-left: 600;
    background-color:goldenrod;
}



h1::first-line
{
color: white;

}


h1{
    text-align: center;
}

img
{
    margin:30%;
}

h5{
    text-align: center;
}